.deployment-list {
  padding: 10px 20px;
  overflow: auto;
  margin: auto;

  .delete-icon {
    cursor: pointer;
    fill: #aaa;
    &:hover {
      fill: red;
    }
  }
}

.modal {
  button.btn.btn-primary {
    min-width: 84px;
  }
}